<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">                
                <h1 class="page-header">CATEGORIAS</h1>

                <div class="panel panel-default"> <!-- begin table -->
                    <div class="panel-heading">
                        Editando Categoria
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">                            
                    </div>
                    <!-- /.panel-body -->
                </div> <!-- end table-->

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->